.sort-container {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
  select {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 8rem;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    color: gray;
  }
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;

  &__image-container {
    flex: 1 1 30%;
    width: 100%;
    overflow: visible;
    width: 600px;
    height: 360px;
    margin-bottom: 60px;
    margin-inline: 20px;
    transition: transform 0.3s ease-in-out;
    &__image {
      display: block;
      width: 100%;
      min-width: 200px;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 1s ease;
    }

    &.active &__image {
      transform: scale(1.2);
      object-fit: contain;
      width: 100%;
      height: auto;
    }

    &__button {
      position: relative;
      bottom: 90%;
      left: 60%;
      margin-right: 5%;
      background-color: rgba(255, 255, 255, 1);
      color: black;
      border: none;
      padding-inline: 8px;
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;

      &hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
      }
      &--like {
      }
      &--download {
      }
      &--edit {
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
    &:hover &__button {
      opacity: 1;
      transform: scale(1.1);
    }
    &.active &__button {
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .images {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    &__sort-container {
      margin-top: 2vh;
      margin-bottom: 2vh;
      select {
      }
    }
    &__image-container {
      min-width: 100%;
      margin-left: 0px;
      margin-right: 0px;

      &.active &__image {
        transform: scale(1.2);
        max-height: 100%;
      }
      
      &__button {
        opacity: 1;
        transform: scale(1.1);
      }
      &.active &__button {
        opacity: 0;
      }
    }
  }
}
