html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.header {
  height: 500px;
  display: block;
  width: 100%;
}
.header__navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  font-family: sans-serif;
  color: white;
  text-align: center;
}
.header__navbar__logo {
  position: absolute;
  font-size: 2.75em;
  margin-top: 40px;
  margin-left: 80px;
}
.header__navbar__list {
  font-size: 1.25rem;
  display: inline-block;
  width: 100%;
}
.header__navbar__list__item {
  display: inline-block;
  margin: 40px;
  position: relative;
  left: 40%;
}
.header__navbar__list__item a {
  text-decoration: none;
  color: white;
}
.header__jumbotron__background-image-container {
  height: 500px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0) 100%);
}
.header__jumbotron__background-image-container__background-image {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 53%;
     object-position: 0 53%;
  position: relative;
  z-index: -1;
  display: block;
}
.header__jumbotron__welcome {
  position: absolute;
  top: 12%;
  left: 46.5%;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 2.5em;
  color: white;
}
.header__jumbotron__searchbar {
  position: absolute;
  top: 24%;
  left: 38%;
  border-radius: 40px;
  padding-right: 15%;
  padding-left: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.images {
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
}
.images__image-container {
  flex: 1 1 30%;
  width: 100%;
  overflow: visible;
  width: 600px;
  height: 360px;
  margin-bottom: 60px;
  margin-inline: 20px;
  transition: transform 0.3s ease-in-out;
}
.images__image-container__image {
  display: block;
  width: 100%;
  min-width: 200px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: transform 1s ease;
}
.images__image-container.active .images__image-container__image {
  transform: scale(1.2);
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}
.images__image-container__button {
  position: relative;
  bottom: 90%;
  left: 60%;
  margin-right: 5%;
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  padding-inline: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.images__image-container__buttonhover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}
.images__image-container__button img {
  width: 24px;
  height: 24px;
}
.images__image-container:hover .images__image-container__button {
  opacity: 1;
  transform: scale(1.1);
}
.images__image-container.active .images__image-container__button {
  visibility: hidden;
}/*# sourceMappingURL=index.css.map */